.texto2 {
    height: 900px;
    width: 200px;
    overflow: auto;
    background-color: #CCC;
    padding: 20px;
    border: 2px solid red;
}


.scrollbutton {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    background-color: red;
    position: fixed;
    right:20px;
    bottom:20px;
    z-index: 999;        /* ficar acimna de todo conteúdo */
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}